@use './var' as *;

.app {
  background-color: $colorApp;
  padding: 50px 0 50px 0;

  .content {
    display: flex;
    gap: 10px;
    justify-items: end;
    max-width: 100%;
    font-family: Verdana;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }

  .item {
    padding: 15px;
    width: 50px;
    white-space: normal;
    overflow-wrap: break-word;
    background-color: #202020;
    color: #fff;
    border-radius: 10px;
    margin: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
  }

  .item:hover {
    background-color: rgb(24, 22, 22);
  }

  .title {
    color: #fff;
    padding: 15px 0 0 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desc {
    color: orange;
    font-size: 20px;
    margin-left: 50px;
  }
}